<a role="link" class="link {{#if label-text}}link-text{{/if}} {{#if label-icon}}link-icon{{/if}} {{link-modifier}}" {{#if link-href}}href="{{link-href}}"{{/if}} {{#if link-target}}target="{{link-target}}"{{/if}} {{#if link-slider}}item-slider="{{link-slider}}"{{/if}} {{{link-attributes}}}>
  {{> @label}}
</a>
