{{#with article}}
<article role="article" {{#if article-class}}class="{{article-class}}"{{/if}}>
  {{#if article-link}}<a href="{{article-link}}">{{/if}}
  {{^article-hide-header}}
  <header>
    {{^article-hide-small}}
      <small>
        {{#if article-date}}
          <!-- date -->
          <time class="article-date" datetime="{{article-date}}">
            <span class="day">{{article-date-day}}</span>
            <span class="month">{{article-date-month}}</span>
          </time>
        {{/if}}
      </small>
    {{/article-hide-small}}
    {{#if article-title}}
      <{{#if article-title-tag}}{{article-title-tag}}{{else}}h2{{/if}} {{#if article-title-i18n}}i18n="{{article-title-i18n}}"{{/if}}>{{{article-title}}}</{{#if article-title-tag}}{{article-title-tag}}{{else}}h2{{/if}}>
    {{/if}}
    {{#if article-subtitle}}
      <p {{#if article-subtitle-i18n}}i18n="{{article-subtitle-i18n}}"{{/if}}>{{{article-subtitle}}}</p>
    {{/if}}
  </header>
  {{/article-hide-header}}
  {{#if article-body}}
  <main>{{{article-body}}}</main>
  {{/if}}
  {{^article-hide-footer}}
  <footer>
      {{#if article-footer-label}}
        {{> label.label label-text=article-footer-label}}
      {{/if}}
      {{#if article-footer-details}}
        <details>{{{article-footer-details}}}</details>
      {{/if}}
  </footer>
  {{/article-hide-footer}}
  {{#if article-link}}</a>{{/if}}
</article>
{{/with}}
