{{#with form}}
<form action="{{form-action}}" role="form" method="{{#if form-method}}{{form-method}}{{^}}post{{/if}}" {{#if form-name}}name="{{form-name}}"{{/if}} class="form {{form-class}}" {{{form-attr}}}>
  {{#each form-items}}
    {{> @fieldset}}
  {{/each}}
</form>
{{/with}}
