{{#if input-role}}
<div {{#if input-class}}class="form-group {{input-class}}"{{/if}} role="{{input-role}}">
  <input type="{{#if input-type}}{{input-type}}{{^}}text{{/if}}" {{#if input-id}}id="{{input-id}}"{{/if}} {{#if input-name}}name="{{input-name}}"{{/if}} {{#if input-value}}value="{{input-value}}"{{/if}} {{#if input-placeholder}}placeholder="{{input-placeholder}}"{{/if}} {{#if input-info}}data-info="{{input-info}}"{{/if}} {{#if input-error}}data-error="{{input-error}}"{{/if}} {{#if input-readonly}}readonly{{/if}} {{#if input-disabled}}disabled{{/if}} {{#if input-required}}required{{/if}} {{#if input-pattern}}pattern="{{input-pattern}}"{{/if}} {{#if input-autocomplete}}autocomplete="{{input-autocomplete}}"{{/if}} {{{input-attr}}}>
  {{> @label}}
  <aside class="messages"></aside>
</div>
{{/if}}