{{#with select}}
<section class="form-group {{select-class}}" role="select">
  {{> @label}}
  <select {{#if select-id}}id="{{select-id}}"{{/if}} {{#if select-name}}name="{{select-name}}"{{/if}} {{#if select-info}}data-info="{{select-info}}"{{/if}} {{#if select-error}}data-error="{{select-error}}"{{/if}} {{#if select-multiple}}multiple{{/if}} {{#if select-readonly}}readonly{{/if}} {{#if select-disabled}}disabled{{/if}} {{#if select-required}}required{{/if}} {{{select-attr}}}>
    {{#each select-items}}
      <option {{#if select-value}}value="{{select-value}}"{{/if}}>{{select-label}}</option>
    {{/each}}
    {{#each select-optgroups}}
      <optgroup {{#if select-optgroups-label}}value="{{select-optgroups-label}}"{{/if}}>
      {{#each select-items}}
        <option {{#if select-value}}value="{{select-value}}"{{/if}}>{{select-label}}</option>
      {{/each}}
      </optgroup>
    {{/each}}
  </select>
  <aside class="messages"></aside>
</section>
{{/with}}