{{#with textarea}}
<section class="form-group {{textarea-class}}" role="textbox">
  <textarea {{#if textarea-id}}id="{{textarea-id}}"{{/if}} {{#if textarea-name}}name="{{textarea-name}}"{{/if}} {{#if textarea-placeholder}}placeholder="{{textarea-placeholder}}"{{/if}} {{#if textarea-info}}data-info="{{textarea-info}}"{{/if}} {{#if textarea-error}}data-error="{{textarea-error}}"{{/if}} {{#if textarea-readonly}}readonly{{/if}} {{#if textarea-disabled}}disabled{{/if}} {{#if textarea-required}}required{{/if}} {{{textarea-attr}}} {{#if textarea-i18n}}i18n="{{textarea-i18n}}"{{/if}}>{{textarea-value}}</textarea>
  {{> @label}}
  <aside class="messages"></aside>
</section>
{{/with}}