{{#with select}}
<section class="form-group {{select-class}}" role="select">
  {{> @label}}
  <select {{#if select-id}}id="{{select-id}}"{{/if}} {{#if select-name}}name="{{select-name}}"{{/if}} {{#if select-info}}data-info="{{select-info}}"{{/if}} {{#if select-error}}data-error="{{select-error}}"{{/if}} {{#if select-multiple}}multiple{{/if}} {{#if select-readonly}}readonly{{/if}} {{#if select-disabled}}disabled{{/if}} {{#if select-required}}required{{/if}} {{{select-attr}}}>
    {{#each option-items}}
      <option {{#if option-value}}value="{{option-value}}"{{/if}} {{#if option-i18n}}i18n="{{option-i18n}}"{{/if}}>{{option-label}}</option>
    {{/each}}
    {{#each option-optgroups}}
      <optgroup {{#if option-optgroups-label}}value="{{option-optgroups-label}}"{{/if}} {{#if option-i18n}}i18n="{{optgroup-i18n}}"{{/if}}>
      {{#each option-items}}
        <option {{#if option-value}}value="{{option-value}}"{{/if}} {{#if option-i18n}}i18n="{{option-i18n}}"{{/if}}>{{option-label}}</option>
      {{/each}}
      </optgroup>
    {{/each}}
  </select>
  <aside class="messages"></aside>
</section>
{{/with}}